<{strip}>
<{$footer_field.template_footer|smarty:nodefaults}>
<{$footer_field.script_header|smarty:nodefaults}>
<{$footer_field.script_footer_src|smarty:nodefaults}>
<{$add_script_footer|smarty:nodefaults}>
<{$footer_field.script_footer|smarty:nodefaults}>
<script type="text/javascript" src="js/googlemap.js"></script>
<script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    function showMap(){
        if (api_loaded_flag == 1){
            if (document_loaded_flag == 1){

                googlemap_init('google_map', jQuery('#google_map').attr('alt'));
            }}
    }
    jQuery.noConflict();
    jQuery(document).ready(function($){
        document_loaded_flag = 1;
        showMap();
        $('#image_url').click(function() {
            alert('image_url clicked!');
        });
    });
</script>


</body>
</html>
<{/strip}>