<{strip}>
<{php}>
	$this->assign('test_array_str', $test_array_str);
	$metadata = $this->get_template_vars('metadata');
    $action = $this->get_template_vars('action');
    $mdblist = $action['mdblist'];
    $metadata = $mdblist['metadata'][1];
    $value = $mdblist['value'];

    $i = 0;
    $item_datas = array();

    $smarty = $this->get_template_vars('smarty');
    $smarty_session = $smarty['session'];

<{/php}>
<script type="text/javascript">
item = new Array();
</script>

<script type="text/javascript">
<{php}>

foreach($value as $key => $val){
	$item = $value[$i];
	$content_id = $item['content_id'];
	if($content_id != ''){
		$item_name = htmlspecialchars($item[1], ENT_QUOTES);
		$item_address = htmlspecialchars($item[64].$item[65], ENT_QUOTES);
		$item_latlng = str_replace(',' , '|', $item[94]);
		if($action['block_id'] == 11){
			// トップの地図表示の時、強制的に一覧からの表示にする
			$blockId = 16;
		} else {
			$blockId = $action['block_id'];
		}
		$item_detail_url = BASE_URL.INDEX_FILE_NAME.'?active_action=multidatabase_view_main_detail&content_id='.$content_id.'&multidatabase_id='.$action['multidatabase_id'].'&block_id='.$blockId.'#'.$smarty_session['_id'];
		$item_array_default = '%s,\'%s\',\'%s\',\'%s\',\'%s\'';
		$item_array = sprintf($item_array_default, $content_id, $item_name, $item_address, $item_latlng, $item_detail_url);
        echo "console.log('item set ' + " . $item_array . ");";
        echo "console.log('i=' + $i);";
        echo "	item[\"".  $i . "\"]=new Array(".  $item_array . ");";
		$i++;
	}
}
<{/php}>
// -->
</script>


<script type="text/javascript">
item_last=<{php}>echo $i;<{/php}>;
var api_loaded_flag;
var document_loaded_flag;

function showMap(){
    if (api_loaded_flag == 1){
        if (document_loaded_flag == 1){
            googlemap_init_all('google_map');
        }
	}
}

function apiLoaded()
{
	api_loaded_flag = 1;
	showMap();
}



</script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false&callback=apiLoaded" type="text/javascript" charset="UTF-8"></script>
<span id="map_item" value="<{$action.mdblist.value}>"></span>
<div id="google_map" style="margin-top:10px;margin-bottom:10px;text-align:center;width:100%;height:400px;" alt="<{$googlemap_alt}>" lat="<{$lat}>" lng="<{$lng}>" cowname="<{$cowname}>"></div>
<{/strip}>

