<{strip}>
<script type="text/javascript">
var item = new Array();
var item_last;
</script>
<{php}>
	$this->assign('test_array_str', $test_array_str);
	$metadata = $this->get_template_vars('metadata');
//echo "<br>metadata_id ".$metadata['metadata_id'];
$action = $this->get_template_vars('action');
$mdblist = $action['mdblist'];
$metadata = $mdblist['metadata'][1];
$value = $mdblist['value'];
var_dump($value);
//echo "<pre>";var_dump($metadata);echo "</pre>";
$i = 0;
$item_datas = array();

$smarty = $this->get_template_vars('smarty');
$smarty_session = $smarty['session'];

<{/php}>
<script type="text/javascript">
item = new Array();
</script>
<{php}>
foreach($metadata as $key => $val){
	$item = $value[$i];
	$content_id = $item['content_id'];
echo "<br>content_id=".var_dump($content_id);
	if($content_id != ''){
echo "<br>item_set!";
		$item_name = htmlspecialchars($item[1], ENT_QUOTES);
		$item_address = htmlspecialchars($item[64].$item[65], ENT_QUOTES);
		$item_latlng = str_replace(',' , '|', $item[94]);
		$item_detail_url = BASE_URL.INDEX_FILE_NAME.'?active_action=multidatabase_view_main_detail&content_id='.$content_id.'&multidatabase_id='.$action['multidatabase_id'].'&block_id='.$action['block_id'].'#'.$smarty_session['_id'];
		$item_array_default = '%s,\'%s\',\'%s\',\'%s\',\'%s\'';
		$item_array = sprintf($item_array_default, $content_id, $item_name, $item_address, $item_latlng, $item_detail_url);
	<{/php}>
	<script type="text/javascript">
console.log('item set ' + <{php}>echo $item_array;<{/php}>);
	item["<{php}>echo $i;<{/php}>"]=new Array(<{php}>echo $item_array;<{/php}>);
	// --></script>
	<{php}>
		$i++;
	}
}
<{/php}>
<script type="text/javascript">
item_last=<{php}>echo $i;<{/php}>;
// --></script>

<script type="text/javascript">
var api_loaded_flag;
var document_loaded_flag;

function showMap(){
    if (api_loaded_flag == 1){
        if (document_loaded_flag == 1){
            googlemap_init_all('google_map');
        }
	}
}

function apiLoaded()
{
	api_loaded_flag = 1;
	showMap();
}
</script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false&callback=apiLoaded" type="text/javascript" charset="UTF-8"></script>
<span id="map_item" value="<{$action.mdblist.value}>"></span>
<div id="google_map" style="margin-top:10px;margin-bottom:10px;text-align:center;width:100%;height:400px;" alt="<{$googlemap_alt}>" lat="<{$lat}>" lng="<{$lng}>" cowname="<{$cowname}>"></div>
<div class="align-center">
<{if $lat != ''}>
<a href="https://maps.google.co.jp/maps?q=<{$lat}>,<{$lng}>&ie=UTF-8&hl=ja" target="_blank">
<{else}>
<a href="https://maps.google.co.jp/maps?q=<{$googlemap_alt}>&ie=UTF-8&hl=ja" target="_blank">
<{/if}>
大きな地図で見る</a>
</div>
<{/strip}>