<{strip}>
<script type="text/javascript">
var api_loaded_flag;
var document_loaded_flag;

function showMap(){
    if (api_loaded_flag == 1){
        if (document_loaded_flag == 1){
            googlemap_init_alltest('google_map', jQuery('#google_map').attr('alt'), jQuery('#google_map').attr('lat'), jQuery('#google_map').attr('lng'), jQuery('#google_map').attr('cowname'));
        }
	}
}

function apiLoaded()
{
	api_loaded_flag = 1;
	showMap();
}
</script>
<script src="http://maps.google.com/maps/api/js?v=3&sensor=false&callback=apiLoaded" type="text/javascript" charset="UTF-8"></script>

<{php}>
	$this->assign('googlemap_alt', "東京都江東区豊洲3-3-3");
<{/php}>
<{if $googlemap_alt != ''}>
<div id="google_map" style="margin-top:10px;margin-bottom:10px;text-align:center;width:100%;height:400px;" alt="<{$googlemap_alt}>" lat="<{$lat}>" lng="<{$lng}>" cowname="<{$cowname}>"></div>
<div class="align-center">
<{if $lat != ''}>
<a href="https://maps.google.co.jp/maps?q=<{$lat}>,<{$lng}>&ie=UTF-8&hl=ja" target="_blank">
<{else}>
<a href="https://maps.google.co.jp/maps?q=<{$googlemap_alt}>&ie=UTF-8&hl=ja" target="_blank">
<{/if}>
大きな地図で見る</a>
</div>
<{/if}>
<{/strip}>