<{strip}>
<{* 一覧画面 *}>
<div class="outerdiv">
	<{if !$action.metadata_exists}>
		<{$lang.mdb_noneexists_metadata|smarty:nodefaults}>
	<{else}>
		<div class="bold float-left width_638px">
			<{$action.mdb_obj.multidatabase_name}>
		</div>
<div class="align-right float-left width_100px">
					<a class="syslink" href="#" title="<{$lang.mdb_search_title|smarty:nodefaults|sprintf:$action.mdb_obj.multidatabase_name}>" onclick="commonCls.sendView('<{$id}>', {'action':'multidatabase_view_main_search_init', 'multidatabase_id':'<{$action.multidatabase_id}>'}, {'loading_el':this}); return false;">
						<img class="icon" src="<{"search.gif"|get_themes_image}>" alt="<{$lang.mdb_search|smarty:nodefaults}>" title="<{$lang.mdb_search|smarty:nodefaults}>" />
						<{$lang.mdb_search|smarty:nodefaults}>
					</a>
</div>
<div class="float-clear" style="margin-bottom:5px;"></div>
		<table class="outer">
			<tr>
				<td class="nowrap mdb_right_space">
					<{if $action.mdb_obj.post_auth && $action.mdb_obj.active_flag == $smarty.const._ON}>
						<a class="syslink" href="#" title="<{$lang.mdb_new_content_title|smarty:nodefaults}>" onclick="commonCls.sendView('<{$id}>', {'action':'multidatabase_view_main_content_init', 'multidatabase_id':'<{$action.multidatabase_id}>'}, {'loading_el':this}); return false;">
							<img class="icon" alt="" src="<{"edit.gif"|get_themes_image}>"/>
							<{$lang.mdb_new_content|smarty:nodefaults}>
						</a>
						<{if $smarty.session._auth_id >= $smarty.const._AUTH_CHIEF}>
							<{$lang._separator|smarty:nodefaults}>
							<a class="syslink" href="#" title="" onclick="mdbCls['<{$id}>'].showDataSeqPop(event, '<{$action.multidatabase_id}>'); return false;">
								<{$lang.mdb_sequence|smarty:nodefaults}>
							</a>
						<{/if}>
					<{/if}>
				</td>
			</tr>
		</table>
		<{include file = "multidatabase_view_main_init_control.html" position="top"}>

		<{if !$action.exists}>
			<br /><{$lang.mdb_noneexists_data|smarty:nodefaults}>
		<{else}>
			<{if $action.mdblist.metadata == ""}>
				<br /><{$lang.mdb_noneexists_list_metadata|smarty:nodefaults}>
			<{else}>
			<{php}>
			$page_id = intval($_GET['page_id']);
			$action = $this->get_template_vars('action');
//echo "<pre>page_id";var_dump($page_id);echo "</pre>";
//	echo "<pre>";var_dump($_SESSION['list_kind'][$action['multidatabase_id']]);echo "</pre>";
			$mdblist = $action['mdblist'];
			$items = $mdblist['value'];
			$kensu = count($items);
			$fileName = WEBAPP_DIR.'/modules/multidatabase/templates/'.$action['multidatabase_id'].'_'.$page_id.'_listview.php';



			if (isset($_SERVER['HTTPS']) and $_SERVER['HTTPS'] == 'on'){
				$protocol = 'https://';
			} else { 
				$protocol = 'http://';
			} 
			$uri = $protocol.$_SERVER['HTTP_HOST'].$_SERVER['REQUEST_URI'];

			$uriArray = explode('?', $_SERVER['REQUEST_URI']); //'でもいい

			if(strpos($_SERVER['REQUEST_URI'], 'page_id=') === false){
				// トップページで絞り込み無しなので一覧にリンク
				$otherUrl = $uri.'?page_id=15';
			} else {
				if(strpos($_SERVER['REQUEST_URI'], 'page_id=15') === false){
					// 現在が地図なので一覧にリンク
				// 条件付き保留	$otherUrl = str_replace('page_id=13', 'page_id=15', $uri);
					$otherUrl = $protocol.$_SERVER['HTTP_HOST'].$uriArray[0].'?page_id=15';
				} else {
					// 現在が一覧なので地図にリンク
				// 条件付き保留	$otherUrl = str_replace('page_id=15', 'page_id=21', $uri);
					$otherUrl = $protocol.$_SERVER['HTTP_HOST'].$uriArray[0].'?page_id=21';
				}
			}
			$this->assign('otherUrl', $otherUrl);
			$this->assign('kensu', $kensu);



			if (file_exists($fileName)) {
			<{/php}>
				<div style="float:left;text-align:left;width:80%;"><{$kensu}>件あります</div><div style="float:left;text-align:right;width:20%;"><a href="<{$otherUrl}>">一覧表示へ</a></div><div style="clear:both;"></div>
			<{php}>
				  require($fileName); // $listview_html = 'xxxxxxxx.html';
				  $this->assign('listview_html', $listview_html);
			<{/php}>
				 <{include file=$listview_html}>
				<a href="<{$otherUrl}>">一覧表示へ</a>
				<{include file = "multidatabase_view_main_init_control.html" position="bottom"}>
			<{php}>
			} else {
			<{/php}>
				<div style="float:left;text-align:left;width:80%;"><{$kensu}>件あります</div><div style="float:left;text-align:right;width:20%;"><a href="<{$otherUrl}>">地図表示へ</a></div><div style="clear:both;"></div>
				<{assign var="mode" value="list"}>
				<{assign var="data_pos_1" value=$action.mdblist.metadata.1}>
				<{assign var="data_pos_2" value=$action.mdblist.metadata.2}>
				<{assign var="data_pos_3" value=$action.mdblist.metadata.3}>
				<{assign var="data_pos_4" value=$action.mdblist.metadata.4}>
				<{foreach item=item key=key from=$action.mdblist.value}>
					<{* 詳細部 *}>
					<{include file="multidatabase_common_metadata.html"}>
					<{* br / *}>
				<{/foreach}>
				<a href="<{$otherUrl}>">地図表示へ</a>
				<{include file = "multidatabase_view_main_init_control.html" position="bottom"}>
			<{php}>
			}
			<{/php}>
			<{/if}>
		<{/if}>
	<{/if}>
</div>
<{include file="../multidatabase_script.html"}>
<{/strip}>